h1 {
    text-align: center;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
    margin: 0px;
    margin-right: 20px;
}
input {
    border-radius: 10px;
    outline: none;
    padding: 0px 10px;
}